@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Roboto:wght@500&display=swap");

body {
  background-color: #f7f7f7;
  font-family: Roboto;
}

main {
  display: flex;
  justify-content: center;
}

.boxes {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.box1 {
  width: 315px;
  height: 147px;
  background-color: #0865de;
  padding-left: 20px;
  margin-bottom: 90px;
}

.white-box {
  background-color: white;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1260px;
}

.kanye {
  width: 200px;
  border-radius: 50%;
}

.box2 {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 100px 70px 100px 70px;
}

h5 {
  color: white;
}

header {
  margin-left: 180px;
  margin-bottom: 90px;
  margin-top: 50px;
}

.text1 {
  width: 500px;
  margin-top: 30px;
}

.text-box {
  margin-left: 550px;
  width: 700px;
  margin-bottom: 90px;
}

.text2 {
  width: 500px;
}
